.menu11 {
    display: flex;
    align-items: center; /* Memusatkan secara horizontal */
    justify-content: center; /* Memusatkan secara vertikal */
    height: 100%; /* Menyesuaikan tinggi sesuai konten */
    background-image: url('BC2.jpg'); /* Ganti dengan URL gambar Anda */
    background-size: cover;
}
.background2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 95%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.24);
}
.background2 h1 {
    font-size: 30px;
    color: rgb(51, 28, 51);
}
.background2 p {
    font-size: 24px;
}
.background2 p span {
    font-size: 50px; 
    color: rgb(151, 78, 102);
}
@media (max-width: 768px) {
    .background2 h1{
      font-size: 20px;
    }
    .background2 p {
        font-size: 16px;
    }
    .background2 p span {
        font-size: 28px;
    }
}
.menu12 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('BC4.jpg');
    background-size: cover;
}

.background3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%; /* Menggunakan 80% dari tinggi menu12 */
    width: 80%; /* Menggunakan 80% dari lebar menu12 */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.158); /* Meningkatkan opasitas latar belakang */
    padding: 20px; /* Menambahkan padding agar konten tidak terlalu dekat dengan pinggir */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan */
}

.judul3 {
    font-size: 14px;
}
.alamat {
    font-size: 14px;
}
.tanggal-resepsi3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tanggal-resepsi3 > div {
    margin: 0 10px;
}

.hari, .bulan {
    font-size: 26px;
    padding: 0 10px; /* Mengurangi padding agar teks tidak terlalu dekat dengan border */
}

.hari {
    border-right: 1px solid black;
}

.bulan {
    border-left: 1px solid black;
}

.tgl {
    font-weight: bold;
    font-size: 30px;
}

.thn {
    font-size: 20px;
}


.maps iframe {
    width: 100%; /* Mengisi seluruh lebar dari parent */
    height: calc(100% - 60px); /* Menggunakan sisa tinggi untuk peta */
    margin-bottom: 20px; /* Memberikan jarak antara peta dengan elemen berikutnya */
    border-radius: 5px;
    overflow: hidden; /* Mengatasi masalah dengan elemen yang melewati batas */
    border: 10px solid #cf16a7; /* Menambahkan border solid dengan warna abu-abu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
}
.buttons {
    padding: 10px 20px; /* Padding tombol */
    font-size: 18px; /* Ukuran font tombol */
    background-color: #bb25ae; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Hapus border */
    border-radius: 5px; /* Border radius */
    cursor: pointer; /* Kursor menunjukkan tindakan dapat dilakukan */
    transition: background-color 0.3s; /* Transisi ketika tombol digeser */
}
.buttons a{
    text-decoration: none;
    color: white;
}

.buttons:hover {
    background-color: #f31ce1; /* Warna latar belakang saat dihover */
}